.header-content {
  background: url("../img/iphonx-6.png") no-repeat 90% bottom;
  height: 740px;

  &__wrapper {
    width: 32%;
    padding: 100px 0 0 0;

    text-align: center;
  }

  &__title {
    margin: 0 0 50px 0;

    font: 50px $Open-sans-light;

    color: #ffffff;
  }

  &__btn {
    width: 100%;
  }

  &__images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    margin: 60px 0;
  }

  &__image {
    display: block;
    width: 56px;
    height: 56px;
  }

  &__image--apple {
    background: url("../img/header-content__logos.png") -10px -10px;
  }

  &__image--android {
    background: url("../img/header-content__logos.png") -86px -5px;
  }

  &__image--win {
    background: url("../img/header-content__logos.png") -162px -5px;
  }

  &__text {
    font: 18px $Open-sans_light;

    color: #ffffff;
  }
}

@include tablet {

  .header-content {

    &__title {
      width: 190px;
      font-size: 40px;
      margin: 0 auto 50px;
    }

    &__wrapper {
      width: 45%;
      height: 597px;
    }
  }
}

@include mobile {

  .header-content {
    height: auto;
    padding-top: 365px;

    background: url("../img/iphone-5-in-hand-mobile.png") no-repeat center 55px;

    &__wrapper {
      width: auto;
      height: 272px;
      margin: 0 auto;
      padding: 30px 0;

      background: #1d2631;
    }

    &__title {
      display: none;
    }

    &__btn {
      width: 90%;
    }

    &__text {
      width: 80%;
      margin: 0 auto;

      font-size: 14px;
    }

    &__images {
      margin:  30px 0;
    }
  }
}
