$MyriadPro_regular: "MyriadPro_regular", "Verdana", sans-serif;
$MyriadPro_bold: "MyriadPro_bold", "Verdana", sans-serif;
$Open-sans_regular: "Open-sans_regular", "Verdana", sans-serif;
$Open-sans_bold: "Open-sans_bold", "Verdana", sans-serif;

$desktop-width: 1024px;
$tablet-width: 768px;